{{ define "url-partial" }}
<div class="row" id="{{ .URL.Id }}" itemscope>
  <div class="order-1 order-md-0 col-md-1">
    <nav>
      <ul class="nav flex-row flex-md-column text-center text-md-right">
        <li class="nav-item">
          {{ if .URL.Favorite }}
          <a itemprop="url-unfavorite" class="nav-link pl-0 p-md-1 text-reset" href="{{ reverse "url-fav-toggle" "id" .URL.Id }}" aria-label="unfavorite">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
            </svg>
          </a>
          {{ else }}
          <a itemprop="url-favorite" class="nav-link pl-0 p-md-1 text-reset" href="{{ reverse "url-fav-toggle" "id" .URL.Id }}" aria-label="favorite">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 6.236l.894-1.789c.222-.443.607-1.08 1.152-1.595C10.582 2.345 11.224 2 12 2c1.676 0 3 1.326 3 2.92 0 1.211-.554 2.066-1.868 3.37-.337.334-.721.695-1.146 1.093C10.878 10.423 9.5 11.717 8 13.447c-1.5-1.73-2.878-3.024-3.986-4.064-.425-.398-.81-.76-1.146-1.093C1.554 6.986 1 6.131 1 4.92 1 3.326 2.324 2 4 2c.776 0 1.418.345 1.954.852.545.515.93 1.152 1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
            </svg>
          </a>
          {{ end }}
        </li>
        <li class="nav-item">
          <a itemprop="url-edit" class="nav-link p-md-1 text-reset" href="{{ reverse "url-edit" "id" .URL.Id }}" aria-label="edit">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a itemprop="url-delete" class="nav-link p-md-1 text-danger" href="#" data-href="{{ reverse "url-delete" "id" .URL.Id }}" data-toggle="modal" data-target="#confirm-delete" aria-label="delete">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col-md-11">
    <h4 class="my-0">
      <span>
        <a itemprop="url-title" class="text-decoration-none text-reset text-break" href="{{ .URL.Url.Url }}" target="_blank">{{ .URL.DerivedTitle }}</a>
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
      </svg>
    </h4>
    {{- if .URL.Tags -}}
    <div>
      {{- range $tag := .URL.Tags.Items }}
      <a itemprop="tag-name" class="badge badge-secondary" href="{{ reverse "tag-view" "id" $tag.Id }}">{{ $tag.Name }}</a>
      {{- end }}
    </div>
    {{- end -}}
    <p class="mb-0">
      <small>
        <!-- <a itemprop="url-created-at" class="text-secondary" href="{{ reverse "url-view" "id" .URL.Id }}">{{ formatTimestamp .URL.CreatedAt.AsTime }}</a> -->
        {{ formatTimestamp .URL.CreatedAt.AsTime }}
        &middot;
        <span class="text-break" itemprop="url">{{ .URL.Url.Url }}</span>
      </small>
    </p>
    {{ if .User.EmbedContent }}
    {{ if isyoutube .URL.Url.Url }}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="" data-src="//www.youtube.com/embed/{{ youtubevid .UR.Url.Url }}" allowfullscreen></iframe>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "sidebar" }}
<form class="d-flex align-items-center p-3" action="/search" method="GET">
  <input class="form-control" name="q" type="search" placeholder="search">
  <button class="btn d-md-none collapsed" type="button" role="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-menu-button-wide-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z"/>
      <path fill-rule="evenodd" d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm9.927.427l.396.396a.25.25 0 0 0 .354 0l.396-.396A.25.25 0 0 0 13.396 2h-.792a.25.25 0 0 0-.177.427z"/>
    </svg>
  </button>
</form>

<nav id="sidebar" class="d-md-block sidebar collapse pl-3" role="navigation">
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <a class="nav-link text-reset" href="{{ reverse "url-favorites" }}">Favorites</a>
    </li>
    {{ range $cat := .User.PinnedCategories }}
    <li class="nav-item mb-3">
      <a class="nav-link text-reset" href="?tags={{ tagNames $cat.Tags }}">{{ $cat.Label }}</a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}

{{ define "modal" }}
<div class="modal" id="confirm-delete" tabindex="-1" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete this URL?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>
{{end}}

{{ define "flash" }}
  {{ range $key, $values := .Flashes }}
    {{ range $message := $values }}
<div class="alert alert-{{ $key }}">
  <button class="close" data-dismiss="alert">×</button>
  {{ $message }}
</div>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "title" }}{{ end }}

{{ define "base" }}
<!doctype html>
<html>
  <head>
    <title>{{ template "title" . }} - SUFR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/sufr.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/images/manifest.json">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/images/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <a class="sr-only sr-only-focusable" href="#main-content">Skip to main content</a>
    <header class="navbar navbar-expand-md navbar-dark bg-dark flex-row flex-md-nowrap px-md-5" role="banner">
      <a class="navbar-brand mr-auto" href="{{ reverse "url-index" }}" aria-label="SUFR">
        <img height="38" src="/static/images/sufr-logo.svg" alt="SUFR logo">
      </a>

      <button class="btn d-md-none collapsed" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-md-auto">
          {{- if .User }}
          <li class="nav-item">
            <a class="nav-link" href="{{ reverse "url-new" }}" aria-label="Add URL">
              Add URL
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle mr-md-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="User menu">{{ .User.Email }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-reset" href="{{ reverse "settings" }}">Settings</a>
              <a class="dropdown-item text-reset" href="{{ reverse "logout" }}">Logout</a>
            </div>
          </li>
          {{- end }}
          {{- if not .User }}
          <li class="nav-item"><a class="nav-link" href="{{ reverse "login" }}">Login</a></li>
          {{- end }}
        </ul>
      </div>
    </header>

    <div class="container-fluid bg-dark text-light">
      <div class="row align-items-start">
        <aside class="col-lg-2 col-md-3 bg-dark p-0 sticky-top">
          {{ if .User }}
            {{ template "sidebar" . }}
          {{ end }}
        </aside>

        <main id="main-content" class="col-lg-10 col-md-9 pl-md-0 py-1 py-md-3" role="main">
          {{ template "flash" . }}
          {{ template "content" . }}
        </main>
      </div>
    </div>

    {{ template "modal" . }}
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>

    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>
  </body>
</html>
{{ end }}
