{{ define "title" }}Login{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <img src="/static/images/sufr-logo.svg" alt="SUFR logo"></p>
  </div>
</div>
<form action="{{ reverse "login" }}" method="POST">
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="email" class="control-label">Email</label>
    <div class="col-md-10">
      <input class="form-control input-lg" id="email" type="email" name="email" placeholder="kyle@example.com" autocapitalize="none" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="password" class="control-label">Password</label>
    <div class="col-md-10">
      <input id="password" class="form-control input-lg" type="password" name="password" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
{{ end }}
