{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}
      {{ if .Title }}
      <h1 class="m-3">
        <span>{{.Title}}</span>
      </h1>
      {{ end }}

      <div class="d-flex p-1 border-top border-bottom text-muted">
        <span class="mr-auto">
          showing {{ .Count }} of {{ .Paginator.TotalRecords }}
        </span>
      </div>

    {{ if .Count }}
      <ul class="list-group list-group-flush">
      {{ $user := .User }}
      {{ range $url := .URLs }}
        <li class="list-group-item bg-transparent">
          {{ template "url-partial" dict "URL" $url "User" $user }}
        </li>
      {{ end }}
      </ul>

      {{ if .Paginator.HasPagination }}
      <nav aria-label="item pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item{{ if not .Paginator.HasPrevious }} disabled{{ end }}">
            <a class="page-link" href="{{ updatePage .RequestURI .Paginator.PreviousPage }}" aria-label="Previous"{{ if not .Paginator.HasPrevious }} aria-disabled="true" tabindex="-1"{{ end }}>
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {{ $currentPage := .Paginator.CurrentPage }}
          {{ range $index, $page := .Paginator.Pages }}
          <li class="page-item{{ if eq $currentPage $page }} active{{ end }}">
            <a class="page-link" href="{{ updatePage $.RequestURI $page }}">
              {{ $page }}
              {{ if eq $currentPage $page }}
                <span class="sr-only">(current)</span>
              {{ end }}
            </a>
          </li>
          {{ end }}
          <li class="page-item{{ if not .Paginator.HasNext }} disabled{{ end }}">
            <a class="page-link" href="{{ updatePage .RequestURI .Paginator.NextPage }}" aria-label="Next"{{ if not .Paginator.HasNext }} aria-disabled="true" tabindex="-1"{{ end }}>
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      {{ end }}

    {{ else }}
      <p class="text-center">There is nothing here but silence.</p>
    {{ end }}
{{ end }}
