/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
body > .container {
  padding: 5px 15px 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  /*
  background-color: #f5f5f5;
  */
}

.modal-backdrop {
  z-index: -1;
}

.custom_nav .navbar.navbar-fixed-top .navbar-inner{
  background: rgba(255, 255, 255, 0.3);
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.credit {
  margin: 20px 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar-default {
  background-color: #FFF;
}

.config-nav .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.config-nav .navbar-header .navbar-brand {float:none;}

code {
  font-size: 80%;
}

.navbar-highlight {
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 8px;
}


.always-wrap {
	word-wrap: break-word;
}

.hidden {
    display: none;
}

.url-actions {
    height: 20px;
}

.url-container {
    margin-bottom: 10px;
}
