/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
body > .container {
  padding: 90px 15px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.credit {
  margin: 20px 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


code {
  font-size: 80%;
}

.navbar-highlight {
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 8px;
}

.always-wrap {
	word-wrap: break-word;
}

.hidden {
    display: none;
}

.url-actions {
    height: 20px;
}

.url-container {
    margin-bottom: 10px;
}
