{{ define "url-partial" }}
<div class="row">
  <div class="col-lg-12">
    <div class="url-container">

      <h4>
        <a href="{{ .URL.URL }}" target="_blank">{{ .URL.Title }}</a>
      </h4>

      <p class="text-muted always-wrap">
        {{ if .URL.Private }}
          <i class="fa fa-lock"></i>
        {{ else }}
          <i class="fa fa-bookmark-o"></i>
        {{ end }}
        <small>
          <a href="{{ reverse "url-view" "id" .URL.ID }}">{{ .URL.FormattedCreatedAt }}</a>
          &middot;
          {{ .URL.URL }}
          {{ if isyoutube .URL.URL }}&middot; <i class="fa fa-film"></i>{{ end }}
        </small>
      </p>

      {{ if .Settings.EmbedVideos }}
      {{ if isyoutube .URL.URL }}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="" data-src="//www.youtube.com/embed/{{ youtubevid .URL.URL }}" allowfullscreen></iframe>
      </div>
      {{ end }}
      {{ end }}

      {{ if .Settings.EmbedPhotos }}
      {{ if isimgur .URL.URL }}
      <div class="row">
        <div class="col-xs-12">
          <blockquote class="imgur-embed-pub" lang="en" data-id="{{ imgurgal .URL.URL }}">
            <a href="//imgur.com/{{ imgurgal .URL.URL }}"></a>
          </blockquote>
          <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ if .URL.HasTags }}
      tagged: {{ range $tag := .URL.Tags }}<a href="{{ reverse "tag-view" "id" $tag.ID }}">{{ $tag.Name }}</a> {{ end }}
      {{ end }}

      <div class="url-actions">
        <span class="hidden">
          {{ if .LoggedIn }}
            {{ if .URL.Favorite }}
            <a class="btn fav-btn" href="{{ reverse "url-fav-toggle" "id" .URL.ID }}"><i class="fa fa-heart"></i></a>
            {{ else }}
            <a class="btn fav-btn" href="{{ reverse "url-fav-toggle" "id" .URL.ID }}"><i class="fa fa-heart-o"></i></a>
            {{ end }}
            <a class="btn" href="{{ reverse "url-edit" "id" .URL.ID }}"><i class="fa fa-pencil"></i></a>
            <a class="btn text-danger" href="#" data-href="{{ reverse "url-delete" "id" .URL.ID }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i></a>
          {{ end }}
        </span>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "modal" }}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <span class="text-danger">Deleting URL</span>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this URL?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>
{{end}}

{{ define "flash" }}
{{ range $key, $values := .Flashes }}
{{ range $message := $values }}
<div class="alert alert-{{ $key }}">
  <button class="close" data-dismiss="alert">×</button>
  {{ $message }}
</div>
{{ end }}
{{ end }}
{{ end }}

{{ define "title" }}{{ end }}

{{ define "base" }}
<!doctype html>
<html>
  <head>
    <title>SUFR: {{ template "title" . }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/images/manifest.json">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/images/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <!-- Fixed navbar -->
    <div id="top" class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="pull-left logo" href="{{ reverse "url-index" }}"><img height="38" src="/static/images/sufr-logo.svg" alt="SUFR logo"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{ if .LoggedIn }}
            <li><a href="{{ reverse "url-new" }}"><i class="fa fa-plus"></i> Add URL</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .User.Email }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ reverse "settings" }}">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ reverse "logout" }}">Logout</a></li>
              </ul>
            </li>
            {{ end }}
            {{ if not .LoggedIn }}
            <li><a href="{{ reverse "login" }}">Login</a></li>
            {{ end }}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container" id="content">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ reverse "url-favorites" }}"><i class="fa fa-heart"></i> Favorites</a></li>
            {{ range $tag := .PinnedTags }}
            <li><a href="{{ reverse "tag-view" "id" $tag.Tag.ID }}">{{ $tag.Tag.Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-xs-12 col-md-9">
          {{ if .Title }}
          <p class="lead text-muted always-wrap">{{.Title}}</p>
          {{ end }}
          {{ template "flash" . }}
          {{ template "content" . }}
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted pull-left">
          &copy; Kyle Terry &middot; <a href="https://github.com/kyleterry/sufr"><i class="fa fa-github"></i> Github</a> &middot; <a href="https://github.com/kyleterry/sufr/issues">Issues</a> &middot; <a href="#top">Back to top</a> &middot; {{.Settings.Version}}
        </p>
      </div>
    </footer>
    {{ template "modal" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>
  </body>
</html>
{{ end }}
