{{ define "title" }}{{.Title}}{{ end }}
{{ define "content" }}
{{ $global := .Settings }}
{{ $settings := .SettingsObject }}
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Build Information</h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed">
              <tr>
                <td><strong>Version</strong></td>
                <td><code>{{$global.Version}}</code></td>
              </tr>
              <tr>
                <td><strong>Revision</strong></td>
                <td class="always-wrap"><code><a href="https://github.com/kyleterry/sufr/commit/{{ $global.BuildGitHash }}">{{$global.BuildGitHash}}</a></code></td>
              </tr>
              <tr>
                <td><strong>Time</strong></td>
                <td><code>{{$global.BuildTime}}</code></td>
              </tr>
              <tr>
                <td><strong>Data Directory</strong></td>
                <td><code>{{$global.DataDir}}</code></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <form class="form-horizontal" action="{{ reverse "settings" }}" method="POST">
      <div class="form-group">
        <label class="col-xs-12 col-md-2 control-label">Visibility</label>
        <div class="col-xs-12 col-md-10">
          <div class="radio">
            <label>
              <input id="visibility-public" type="radio" name="private" value="false" {{ if eq $settings.Private false }}checked{{end}}> 
              Public
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="visibility-private" type="radio" name="private" value="true" {{ if eq $settings.Private true }}checked{{end}}>
              Private
            </label>
          </div>
          <span class="help-block">Enable private instances if you want to hide everything from the public.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-md-2 control-label">Content Embedding</label>
        <div class="col-xs-11 col-md-10">
          <div class="checkbox">
            <label>
              <input id="embedphotos" type="checkbox" name="embedphotos" {{ if $settings.EmbedPhotos }}checked{{end}}>
              Embed Photos
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input id="embedvideos" type="checkbox" name="embedvideos" {{ if $settings.EmbedVideos }}checked{{end}}>
              Embed Videos
            </label>
          </div>
          <span class="help-block">Embedding content will allow pictures and videos to be visible in your SUFR feed.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-md-2 control-label">Import</label>
        <div class="col-xs-11 col-md-10">
          <p class="form-control-static">
            <a href="{{ reverse "shitbucket-import" }}">Import from Shitbucket</a>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-md-2 control-label">Database</label>
        <div class="col-xs-11 col-md-10">
          <p class="form-control-static">
            <a href="{{ reverse "database-backup" }}">Backup Database</a>
          </p>
          <span class="help-block">Restore from the backup by copying the file into: <code>{{$global.DataDir}}</code></span>
        </div>
      </div>
      <div class="col-xs-12">
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-lg-offset-2">
          <button type="submit" class="btn btn-default">Save</button><a class="btn" href="{{ reverse "url-index" }}">cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}
