{{ define "title" }}{{ if .IsTagView }}{{ .Tag.Name }}{{ else}}Minimalistic Bookmarking{{ end }}{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-xs-12">
    {{if .Count}}
      {{ $settings := .Settings }}
      {{ $loggedin := .LoggedIn }}
      {{range $url := .URLs }}
        {{ if (or $loggedin $url.IsPublic) }}
          {{ template "url-partial" newcontext "URL" $url "Settings" $settings }}
        {{end}}
      {{ end }}
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted">Found {{ .Count }}&hellip;</p>
        </div>
      </div>
    {{else}}
      <p class="text-center">There is nothing here but silence. You can import data from other services in the <a href="{{ reverse "settings" }}">settings</a>.</p>
    {{ end }}
  </div>
</div>
{{ end }}
