{{ define "content" }}
<div class="row">
  <div class="page-header">
    <h2>Adding a URL</h2>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" action="{{ reverse "url-submit" }}" method="POST">
        <div class="form-group">
          <label for="url" class="col-xs-1 control-label">URL</label>
          <div class="col-xs-11">
            <input class="form-control" id="url-submit" type="text" name="url" placeholder="https://example.com">
          </div>
        </div>
        <div class="form-group">
          <label for="tags" class="col-xs-1 control-label">Tags</label>
          <div class="col-xs-11">
            <input id="tags" class="form-control" type="text" name="tags" placeholder="computer-science lisp compilers">
          </div>
          <span id="helpBlock" class="col-xs-11 col-xs-offset-1 help-block">Tags must be separated by a space</span>
        </div>
        <button type="submit" class="btn btn-default">You're shitting me</button><a class="btn" href="{{ reverse "url-index" }}">cancel</a>
      </form>
    </div>
  </div>
</div>
{{ end }}
